/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

/* Global variables */

:root {
  --background-primary-color: hsl(211, 35%, 9%);
  --border-primary-color: rgb(159, 159, 159);
  --text-primary-color: rgb(240, 240, 240);
}

body {
  min-height: 100vh;
  min-height: 100svh;
  display: flex;
}

body > main {
  flex: 1;
}
