.wrapper {
  background-color: var(--background-primary-color);
  border-bottom: 1px solid var(--border-primary-color);
  color: var(--text-primary-color);
  display: flex;
  justify-content: center;
  height: 48px;
  position: sticky;
  top: 0;
  left: 0;
}
